<%- model_class = Session -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:wind_direction) %></th>
      <th><%= model_class.human_attribute_name(:wind_force) %></th>
      <th><%= model_class.human_attribute_name(:weather_id) %></th>
      <th><%= model_class.human_attribute_name(:temperature) %></th>
      <th><%= model_class.human_attribute_name(:pressure) %></th>
      <th><%= model_class.human_attribute_name(:swell) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= link_to session.id, session_path(session) %></td>
        <td><%= session.date %></td>
        <td><%= session.wind_direction %></td>
        <td><%= session.wind_force %></td>
        <td><%= session.weather_id %></td>
        <td><%= session.temperature %></td>
        <td><%= session.pressure %></td>
        <td><%= session.swell %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_session_path(session), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      session_path(session),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_session_path,
            :class => 'btn btn-primary' %>
