<%- model_class = FishingJourney -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:datetime) %></th>
      <th><%= model_class.human_attribute_name(:wind_direction) %></th>
      <th><%= model_class.human_attribute_name(:wind_force) %></th>
      <th><%= model_class.human_attribute_name(:weather_id) %></th>
      <th><%= model_class.human_attribute_name(:temperature) %></th>
      <th><%= model_class.human_attribute_name(:pressure) %></th>
      <th><%= model_class.human_attribute_name(:swell) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @fishing_journeys.each do |fishing_journey| %>
      <tr>
        <td><%= link_to fishing_journey.id, fishing_journey_path(fishing_journey) %></td>
        <td><%= fishing_journey.datetime %></td>
        <td><%= fishing_journey.wind_direction %></td>
        <td><%= fishing_journey.wind_force %></td>
        <td><%= fishing_journey.weather_id %></td>
        <td><%= fishing_journey.temperature %></td>
        <td><%= fishing_journey.pressure %></td>
        <td><%= fishing_journey.swell %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_fishing_journey_path(fishing_journey), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      fishing_journey_path(fishing_journey),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_fishing_journey_path,
            :class => 'btn btn-primary' %>
