<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gear.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gear.description %>
</p>


<%= link_to 'Edit', edit_gear_path(@gear) %> |
<%= link_to 'Back', gears_path %>
